In [33]:
import pandas as pd

In [34]:
df = pd.DataFrame({"年代":[1,2,2,3,4], "加熱式タバコ": [0,1,1,0,1], "紙巻きタバコ": [0,1,0,1,1]})
df

   年代  加熱式タバコ  紙巻きタバコ
0   1       0       0
1   2       1       1
2   2       1       0
3   3       0       1
4   4       1       1

In [35]:
df["年代"] = pd.Categorical(df["年代"],categories=[1,2,3,4,5,6,7,8,9])
df["年代"] = df.年代.cat.rename_categories({
    1:"10代", 2:"20代", 3:"30代", 4:"40代", 5:"50代", 6:"60代", 7:"70代", 8:"80代", 9:"90代"
})
df

    年代  加熱式タバコ  紙巻きタバコ
0  10代       0       0
1  20代       1       1
2  20代       1       0
3  30代       0       1
4  40代       1       1

In [36]:
pivot = pd.pivot_table(df, index="年代", values=["加熱式タバコ", "紙巻きタバコ"], aggfunc=sum, dropna=False)
pivot

     加熱式タバコ  紙巻きタバコ
年代
10代       0       0
20代       2       1
30代       0       1
40代       1       1
50代       0       0
60代       0       0
70代       0       0
80代       0       0
90代       0       0